# Поиск наиболее близкого имени участника

In [1]:
# conda install -c conda-forge python-levenshtein
# или pip install python-levenshtein

import Levenshtein

In [2]:
# что было написано в заявке

claim_list = [
    'Шехавцова Анна',
    'Гречихина Наталья',
    'Козлова Алена',
    'Груздева Алина',
    'Кущенко Анна',
    'Чистякова Анастасия'
]

In [3]:
# результат расшифровки речи диктора

speech_recognition = [
    'кучменко она',
    'кущенко оксана',
    'груздь алина',
    'рычихина наталья',
    'шиховцева на',
    'чистова анастасия'
]

### С библиотекой Levenshtein

In [4]:
Levenshtein.distance('кучменко', 'Кущенко')

3

In [5]:
for recognized_name in speech_recognition:
    print(recognized_name)

кучменко она
кущенко оксана
груздь алина
рычихина наталья
шиховцева на
чистова анастасия

In [6]:
for recognized_name in speech_recognition:
    for real_name in claim_list:
        print('{},{},{}'.format(recognized_name, real_name, Levenshtein.distance(recognized_name, real_name)))

кучменко она,Шехавцова Анна,11
кучменко она,Гречихина Наталья,14
кучменко она,Козлова Алена,11
кучменко она,Груздева Алина,10
кучменко она,Кущенко Анна,5
кучменко она,Чистякова Анастасия,15
кущенко оксана,Шехавцова Анна,11
кущенко оксана,Гречихина Наталья,15
кущенко оксана,Козлова Алена,11
кущенко оксана,Груздева Алина,11
кущенко оксана,Кущенко Анна,5
кущенко оксана,Чистякова Анастасия,14
груздь алина,Шехавцова Анна,11
груздь алина,Гречихина Наталья,14
груздь алина,Козлова Алена,9
груздь алина,Груздева Алина,5
груздь алина,Кущенко Анна,10
груздь алина,Чистякова Анастасия,16
рычихина наталья,Шехавцова Анна,14
рычихина наталья,Гречихина Наталья,3
рычихина наталья,Козлова Алена,14
рычихина наталья,Груздева Алина,14
рычихина наталья,Кущенко Анна,14
рычихина наталья,Чистякова Анастасия,12
шиховцева на,Шехавцова Анна,6
шиховцева на,Гречихина Наталья,14
шиховцева на,Козлова Алена,9
шиховцева на,Груздева Алина,9
шиховцева на,Кущенко Анна,10
шиховцева на,Чистякова Анастасия,13
чистова анастасия,Шехавцова Анна,13
чистова анастасия,Гречихина Наталья,12
чистова анастасия,Козлова Алена,12
чистова анастасия,Груздева Алина,14
чистова анастасия,Кущенко Анна,14
чистова анастасия,Чистякова Анастасия,4

### Сортировка словаря

In [7]:
for recognized_name in speech_recognition:
    distances = {real_name: Levenshtein.distance(recognized_name, real_name) for real_name in claim_list}
    print(distances)
    
    break

{'Шехавцова Анна': 11, 'Гречихина Наталья': 14, 'Козлова Алена': 11, 'Груздева Алина': 10, 'Кущенко Анна': 5, 'Чистякова Анастасия': 15}

In [8]:
# x[1] - сортировка по значениям словаря по возрастанию (если надо по убыванию - добавляем минус перед x[1])
# x[0] - по ключам
sorted(distances.items(), key = lambda x: x[1])

[('Кущенко Анна', 5),
 ('Груздева Алина', 10),
 ('Шехавцова Анна', 11),
 ('Козлова Алена', 11),
 ('Гречихина Наталья', 14),
 ('Чистякова Анастасия', 15)]

In [9]:
import pandas as pd

In [26]:
s_real_name=pd.Series(claim_list)
df = pd.DataFrame(s_real_name, columns=['Правильные названия'])
df

   Правильные названия
0       Шехавцова Анна
1    Гречихина Наталья
2        Козлова Алена
3       Груздева Алина
4         Кущенко Анна
5  Чистякова Анастасия

In [27]:
for recognized_name in speech_recognition:
    l_new=[Levenshtein.distance(recognized_name, real_name) for real_name in claim_list]
    s_new=pd.Series(l_new)
    df[recognized_name]=s_new

In [28]:
df

,Правильные названия,кучменко она,кущенко оксана,груздь алина,рычихина наталья,шиховцева на,чистова анастасия
0,Шехавцова Анна,11,11,11,14,6,13
1,Гречихина Наталья,14,15,14,3,14,12
2,Козлова Алена,11,11,9,14,9,12
3,Груздева Алина,10,11,5,14,9,14
4,Кущенко Анна,5,5,10,14,10,14
5,Чистякова Анастасия,15,14,16,12,13,4

In [43]:
for recognized_name in speech_recognition:
    ind_min=df.loc[:,recognized_name].idxmin()
    print(recognized_name, " ", df.loc[ind_min,'Правильные названия'])

кучменко она   Кущенко Анна
кущенко оксана   Кущенко Анна
груздь алина   Груздева Алина
рычихина наталья   Гречихина Наталья
шиховцева на   Шехавцова Анна
чистова анастасия   Чистякова Анастасия